
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}

i{
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
input {
    margin-right: 10px;
}

/************ HEADER ************/

header {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    font-family: 'Work Sans', sans-serif;
}
.contenedor-marca {
    display: flex;
    background-color: azure;
    flex-basis: 350px;
    align-items: center;   
}
.i-logo {
    background-color: brown;
}

.t-marca {
    background-color: yellow;
    
}
.marca {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 10px;
}
.contenedor-carrito {
    display: flex;
    background-color: azure;
    flex-basis: 350px;
    align-items: center;
    justify-content: flex-end; 
    margin-right: 25px;  
}
.boton-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 0;
    background: transparent;
}
.i-carrito {
    flex-basis: 30px;
    background-color: brown;
       
}

.t-carrito {
    background-color: yellow;
  
}

.carrito {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 10px;
}
/************ SECCION banner ***********/

.seccion-banner {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: red;
}

.t-banner {
    background-color: green;
}


/************ SECCION CATALOGO ***********/

.seccion-catalogo {
    display: flex;
    background-color: blue;
    height: 1500px;
}

/* ----aside ----*/

aside {
    background-color: crimson;
    flex:1;
}
.contenedor-aside {
    display:flex;
    flex-direction: column;
    margin-left:30px;
    margin-right:30px;
    font-family: 'Work Sans', sans-serif;

}
.filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    
}
.t-principal {
    font-size: 25px;
}
.boton-tachito {
    display:flex;
    border: none;
    background: transparent;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}
.i-tachito {
    margin-right: 5px;
}
.t-limpiar {
    font-size: 15px;
}
.contenedor-busqueda {
    margin-top:15px;
    margin-bottom: 15px;
}
.contenedor-input-serch{
    display:flex;
    align-items: center;
    margin-top: 10px;
}
.contenedor-filtro {
    margin-top: 10px;
}
.input-busqueda {
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding: 0 20px;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--color-text-light);
    color: var(--color-text-dark);
}


.categoria {
    font-size: 14px;
}

.contenedor-puntaje {
    margin-top: 15px;
}
.contenedor-estrellas{
    display:flex;
    align-items: center;
    margin-top:10px;
}
.t-subtitulo {
    font-size: 18px;
}

/* ----tarjetas ----*/

.contenedor-catalogo {
    display:flex;
    flex-direction: column;
    background-color: aqua;
    margin: 20px;
    flex:4;
}

.contenedor-tarjetas {
    display:flex;
    flex-wrap: wrap;
    background-color: chartreuse;
}
.tarjetas {
    flex-basis: 350px;
    background-color: rgb(228, 10, 144);
    height: 500px;
}