@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/***************👇👇👇 GENERALES 👇👇👇************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}

i{
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    margin-right: 10px;
}

li {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 0.8vw;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    background-color: #EBECEC;
  }

h1 {
    font-size: 3vw;
}
h2 {
    font-size: 2vw;
}
h3 {
    font-size: 1vw;
}
p {
    font-size: 1vw;
}
  /***************👇👇👇 THEMES 👇👇👇************/ 
.theme-maiz{
    background-color: #E8B623;
    color: black;
}
.theme-sun {
    background-color: #EBD92F;
    color: white;
}
.theme-sun-border {
    border: 1px solid  #EBD92F;
    color: #847F3B;
}
.theme-pachamama {
    background-color:#DC5D32;
    color: white;
}
.theme-forest {
    background-color:#847F3B;
    color: white;
}
.theme-sand {
    background-color:#957951;
    color: white;
}
.theme-storm {
    background-color:#718C85;
    color: white;
}
.theme-sky {
    background-color: #9AD1CE;
    color: black;
}
 /***************👇👇👇 COMPONENTES 👇👇👇************/ 
 /*-----------botones--------------*/
 button {
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 0.8vw;
    text-transform: uppercase;
    padding: 10px; 
    transition: 0.2s;
    cursor: pointer;
}

 /*------------checkboxes-----------*/

/***************👇👇👇 HEADER 👇👇👇************/

header {  
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 5px 10px;
}
.header-branding {
    flex: 1;
}
.branding {
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
    font-weight: 800;
    font-size: 1.5vw;
}
.header-menu {
    flex: 4;
    
}
.header-menu-list {
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-logo {

    width: 40px;
    height: auto;
}

.cart-icon {
    flex-basis: 30px;

}
.cart-title {
    margin-left: 10px;
}

/************ 👇👇👇  SECCION BANNER  👇👇👇***********/

.banner {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}



/**********👇👇👇  SECCION ABOUT US 👇👇👇************/
.promo-grid {
    display:flex;
    justify-content: space-around;
}
.display {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 650px;


}
.display-slides-container {

    min-width: 300px;
    min-height: 300px;

}
.slides-list {
    position: relative;
}
.slides-list li {
    position:absolute;
    opacity: 0; /*todos se ocultan*/
    transition: opacity 0.5s;
}
.slides-list li:first-child {
    opacity: 1; /*muestra el primero de la lista*/
}

.slides-list li:target{
    opacity: 1; /*muestra imagen linkeada*/
}
.icons-list {
    display:flex;
    flex-basis: 100px;
    position: relative;
    bottom: 30px;
    z-index: 1;
}
.big-photo {
    max-width: 600px;
    height: auto;
}

/************👇👇👇 SECCION CATALOGO  👇👇👇***********/
.main-container {
    display:flex;
  
}

/* ---- FILTROS----*/

aside {
  
    flex:1;
    display:flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    letter-spacing: 2px;

    
}
.filters-container {
    display: flex;
    justify-content: space-between;
    
}
.filters-heading-container{
    display: flex;
    justify-content: space-between;
}
.filters-title {
    font-size: 18px;
}

.clear-btn {
    display:flex;
    border: none;
    background: transparent;
    padding: 10px;
    align-items: center;
    
}

.clear-title {
    font-size: 12px;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    letter-spacing: 2px;
    margin-left:5px;
}
.filters-search-container {
    margin-top:15px;
    margin-bottom: 15px;
}
.input-search-container{
    display:flex;
    align-items: center;
    margin-top: 10px;
}
.filter-container {
    margin-top: 10px;
}
#input-search {
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding: 0 20px;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--color-text-light);
    color: var(--color-text-dark);
}

.checkboxes-container {
    margin-top: 10px;
}

.input-category-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    
}

.input-category{
    display:flex;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
}


.filters-review-container {
    margin-top: 30px;
}

.filters-review {
    margin-top: 20px;
}
.input-review{
    display:flex;
    align-items: center;
    margin-top:10px;
    cursor: pointer;
    max-width: 100px; /*no se si es la manera correcta */
   
}
.fa-star {
    font-size: 12px;
    margin-right: 5px;
    margin-left: 5px;
}



/* ----products ----*/

.products-container {
    display:flex;
    flex-direction: column;
    
    margin: 10px;
    flex:4;
    
}
.products-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    

}
.view-buttons-container {
    display:flex;
    align-items: center;
}
#view-button-grid, #view-button-list {
    margin-left: 15px;
    margin-right: 15px;
}
.fa-th, .fa-list{
    font-size: 30px;
}
.products-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  
}
.product {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    border-radius: 5px;
   
    margin: 5px;
}
.product-img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    
}
.product-img:hover img {
    transform: scale(1.5);
    opacity: 0.7;
}

.product-name {
    margin-top: 15px;
    margin-bottom: 15px;
}
.product-price {
    margin-bottom: 10px;
}
.review-product {
    display: flex;
}
.button-add-to-cart {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    background: transparent;
    
}

.hidden {
    display: none;
  }


/* ********* 👇👇👇 SUSCRIBETE 👇👇👇**********/

.seccion-suscribete {
   
    display:flex;
    justify-content: center;
}
.contenedor-suscribete {
    display:flex;
    flex-direction: column;
    margin-top:30px;
    margin-bottom: 30px;
    
}

.t-suscribete {
    font-size: 11px;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    letter-spacing: 2px;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: justify;
}
.input-suscribete {

    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.3em;
  
    
}
/*********** 👇👇👇  FOOTER  👇👇👇************** */
footer {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
