* {
    margin: 0px;
    padding:0px;
}

/************ HEADER ************/

header {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}
.contenedor-marca {
    display: flex;
    background-color: azure;
    flex-basis: 350px;
    align-items: center;   
}
.i-logo {
    background-color: brown;
}

.t-marca {
    background-color: yellow;
    
}
.marca {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 10px;
}
.contenedor-carrito {
    display: flex;
    background-color: azure;
    flex-basis: 350px;
    align-items: center;
    justify-content: right;   /* porque no me obedeceeee?? jajaja*/
}

.i-carrito {
    flex-basis: 50px;
    background-color: brown;

}

.t-carrito {
    background-color: yellow;
  
}

.carrito {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 10px;
}
/************ SECCION CATEGORIA ***********/

.seccion-categoria {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: red;
}

.t-categoria {
    background-color: green;
}
.filtro {
    display: flex;
    justify-content: space-between;
}
/************ SECCION CATALOGO ***********/

.seccion-catalogo {
    display: flex;
    background-color: blue;
    height: 1500px;
}

aside {
    background-color: crimson;
    flex:1;
}

.contenedor-catalogo {
    display:flex;
    flex-direction: column;
    background-color: aqua;
    margin: 20px;
    flex:4;
}

.contenedor-tarjetas {
    display:flex;
    flex-wrap: wrap;
    background-color: chartreuse;
}
.tarjetas {
    flex-basis: 350px;
    background-color: rgb(228, 10, 144);
    height: 500px;
}