@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*
                         DISEÑO GENERAL, FONTS, LAYOUT, COMPONENTES Y TEMAS.
/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio GENERALES  .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
	height: auto;
}

i {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	cursor: pointer;
}

input {
	margin-right: 10px;
}

li {
	list-style-type: none;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 0.8vw;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
}

body {
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	background-color: #ebecec;
	overflow-x: hidden; /*Esconde lo que rebalza en eje X*/
}

h1 {
	font-size: 3vw;
}
h2 {
	font-size: 2vw;
}
h3 {
	font-size: 1vw;
}
p {
	font-size: 1vw;
}

/*～●～●～●～●～  DISPLAY ●～●～●～●～●～●～*/

.in-line {
	display: flex;
	justify-content: center;
	align-items: center;
}
.in-stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.in-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

/*～●～●～●～●～  THEMES  ●～●～●～●～●～●～*/

.theme-wine {
	background-color: #8a5559;
	color: white;
}
.theme-wine-ligth {
	background-color: #988574;
	color: white;
}

.theme-forest {
	background-color: #847f3b;
	color: white;
}

.theme-maia {
	background-color: #cbbaa5;
	color: white;
}

.theme-sun-border {
	border: 1px solid #ebd92f;
	color: #847f3b;
}
.theme-maiz {
	background-color: #e8b623;
	color: black;
}
.theme-pachamama {
	background-color: #dc5d32;
	color: white;
}

.theme-sand-ligth {
	background-color: #cbbaa5;
	color: white;
}

.theme-sky {
	background-color: #9ad1ce;
	color: black;
}

.theme-simple {
	background-color: white;
	color: black;
}

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.  Fin GENERALES    .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio COMPONENTES   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*～●～●～●～●～  BOTONES  ●～●～●～●～●～●～*/

.button {
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-size: 0.8vw;
	text-transform: uppercase;
	cursor: pointer;
	min-width: 150px;
	max-width: 250px;
	font-weight: 600;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border-radius: 40px;
	float: left;
	vertical-align: middle;
	position: relative;
	-webkit-backface-visibility: hidden;
	transition: 0.2s;
}

.button-wine-solid {
	background-color: black;
	color: white;
	border: none;
	box-shadow: none;
}
.button-wine-empty {
	background-color: transparent;
	color: white;
	border: 1px solid #8a5559;
	box-shadow: none;
}
.button-forest-solid {
	background-color: #847f3b;
	color: white;
	border: none;
	box-shadow: none;
}
.button-forest-empty {
	background-color: transparent;
	color: white;
	border: 1px solid #847f3b;
	box-shadow: none;
}

/*～●～●～●～●～  BOTON - ANIMACION  ●～●～●～●～●～●～*/

.button-animated {
	padding: 0 2em;
	overflow: hidden;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

/*Animacion del boton */

.button-animated > span {
	display: inline-block;
	padding: 1em 0;
	opacity: 0;
	color: #fff;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button-animated::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button-animated:hover::before {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button-animated:hover > span {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button-animated:hover > span:nth-child(1) {
	-webkit-transition-delay: 0.045s;
	transition-delay: 0.045s;
}
.button-animated:hover > span:nth-child(2) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}
.button-animated:hover > span:nth-child(3) {
	-webkit-transition-delay: 0.135s;
	transition-delay: 0.135s;
}
.button-animated:hover > span:nth-child(4) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}
.button-animated:hover > span:nth-child(5) {
	-webkit-transition-delay: 0.225s;
	transition-delay: 0.225s;
}
.button-animated:hover > span:nth-child(6) {
	-webkit-transition-delay: 0.27s;
	transition-delay: 0.27s;
}
.button-animated:hover > span:nth-child(7) {
	-webkit-transition-delay: 0.315s;
	transition-delay: 0.315s;
}
.button-animated:hover > span:nth-child(8) {
	-webkit-transition-delay: 0.36s;
	transition-delay: 0.36s;
}
.button-animated:hover > span:nth-child(9) {
	-webkit-transition-delay: 0.405s;
	transition-delay: 0.405s;
}
.button-animated:hover > span:nth-child(10) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}
.button-animated:hover > span:nth-child(11) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.50s;
}
.button-animated:hover > span:nth-child(12) {
	-webkit-transition-delay: 0.55s;
	transition-delay: 0.55s;
}
.button-animated:hover > span:nth-child(13) {
	-webkit-transition-delay: 0.60s;
	transition-delay: 0.60s;
}
.button-animated:hover > span:nth-child(14) {
	-webkit-transition-delay: 0.65s;
	transition-delay: 0.65s;
}
.button-animated:hover > span:nth-child(15) {
	-webkit-transition-delay: 0.70s;
	transition-delay: 0.70s;
}
.button-animated:hover > span:nth-child(16) {
	-webkit-transition-delay: 0.75s;
	transition-delay: 0.75s;
}

/* PSEUDOCLASES Y PASEUDOLELEMENTOS DE BOTONES*/
.button-wine-empty:hover {
	background-color: #8a5559;
}
.button-forest-solid:hover {
	background-color: #4f574c;
}
.button-forest-empty:hover {
	background-color: rgb(173, 169, 169);
	color: black;
}
.button:focus {
	outline: none;
}
/*～●～●～●～●～  CHECBOXES ●～●～●～●～●～●～*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin COMPONENTES   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*
                                            DISEÑO DESKTOP
/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio HEADER    .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

header {
	justify-content: space-between;
	padding: 5px 10px;
}
.header-branding {
	flex: 1;
}
.branding {
	font-family: 'Chonburi', cursive;
	letter-spacing: 5px;
	font-size: 1vw;
	color: #1d130e;
}
.header-menu {
	flex: 4;
}

.header-logo {
	width: 40px;
	height: auto;
}

.cart-icon {
	font-size: 15px;
}
.cart-title {
	margin-left: 10px;
	color: white;
}
/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin HEADER    .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio BANNER    .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

.banner-images-container {
	width: 100vw;
	height: 500px;
	background-size: 100% 100%;
	animation: banner 20s infinite;
}
.box-behind-title {
	background-color: #988574;
	position: relative;
	bottom: 100px;
}
.banner-title-container {
	min-width: 700px;
	height: 150px;
	background-color: #1d130e;
	color: white;
	margin: 20px;
}
.banner-title {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	letter-spacing: 10px;
}

@keyframes banner {
	0%,
	15% {
		background-image: url("/images/banner.png");
	}
	16%,
	19% {
		background-color: #cbbaa5;
	}
	20%,
	35% {
		background-image: url("/images/banner1.png");
	}

	36%,
	39% {
		background-color: #cbbaa5;
	}
	40%,
	55% {
		background-image: url("/images/banner2.png");
	}
	56%,
	59% {
		background-color: #cbbaa5;
	}
	60%,
	75% {
		background-image: url("/images/banner3.png");
	}
	76%,
	79% {
		background-color: #cbbaa5;
	}
	80%,
	95% {
		background-image: url("/images/banner4.png");
	}
	96%,
	100% {
		background-color: #cbbaa5;
	}
}
/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin BANNER   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio ABOUT US    .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/
.promo-grid {
	justify-content: space-around;
}
.display {
	flex-basis: 650px;
}
.display-slides-container {
	min-width: 300px;
	min-height: 300px;
}
.slides-list {
	position: relative;
}
.slides-list li {
	position: absolute;
	opacity: 0; /*todos se ocultan*/
	transition: opacity 0.5s;
}
.slides-list li:first-child {
	opacity: 1; /*muestra el primero de la lista*/
}

.slides-list li:target {
	opacity: 1; /*muestra imagen linkeada*/
}
.icons-list {
	flex-basis: 100px;
	position: relative;
	bottom: 30px;
	z-index: 1;
}
.big-photo {
	max-width: 600px;
	height: auto;
}

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin ABOUT US    .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio CATALOGO   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/* ---- FILTROS----*/

aside {
	flex: 1;
	margin: 10px;
	padding: 10px;
}
.filters-container {
	align-items: flex-start;
	justify-content: flex-start;
}
.filters-heading-container {
	justify-content: space-between;
}
.filters-title {
	font-size: 18px;
}

.clear-btn {
	border: none;
	background: transparent;
	padding: 10px;
	align-items: center;
}

.clear-title {
	margin-left: 5px;
}
.filters-search-container {
	margin-top: 15px;
	margin-bottom: 15px;
}
.input-search-container {
	margin-top: 10px;
}
.filter-container {
	margin-top: 10px;
}

#input-search {
	height: 40px;
	width: 200px;
	line-height: 40px;
	padding: 0 20px;
	border: 0;
	background-color: transparent;
	border-bottom: 2px solid var(--color-text-light);
	color: var(--color-text-dark);
}

.checkboxes-container {
	margin-top: 10px;
}

.input-category-container {
	margin-top: 15px;
	justify-content: flex-start;
	align-items: flex-start;
}

.input-category {
	justify-content: flex-start;

	margin-top: 10px;

	cursor: pointer;
}

.filters-review-container {
	margin-top: 30px;
}

.filters-review {
	margin-top: 20px;
	color: #8a5559;
}
.input-review {
	justify-content: flex-start;
	margin-top: 10px;
	cursor: pointer;
	max-width: 100px; /*no se si es la manera correcta */
}
.fa-star {
	font-size: 12px;
	margin-right: 5px;
	margin-left: 5px;
}

/* ----products ----*/

.products-container {
	margin: 10px;
	flex: 4;
}
.products-header {
	justify-content: space-between;
}

#view-button-grid,
#view-button-list {
	margin-left: 15px;
	margin-right: 15px;
}
.fa-th,
.fa-list {
	font-size: 30px;
}

.product {
	flex-basis: 300px;
	border-radius: 5px;
	margin: 5px;
}
.product-img {
	width: 80%;
	height: auto;
	margin-bottom: 20px;
	margin-top: 40px;
	overflow: hidden;
}
.product-img:hover img {
	transform: scale(1.5);
	opacity: 0.7;
}

.product-name {
	margin-top: 15px;
	margin-bottom: 15px;
}
.product-price {
	margin-bottom: 10px;
}
.review-product {
	display: flex;
}
.button-add-to-cart {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	background: transparent;
}

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin CATALOGO   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio SUSCRIBE   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

.seccion-suscribete {
	display: flex;
	justify-content: center;
}
.contenedor-suscribete {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
}

.t-suscribete {
	font-size: 11px;
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
}
.input-suscribete {
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: underline;
	line-height: 1.3em;
}

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin SUSCRIBE  .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio FOOTER   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin FOOTER   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.  Inicio  Overlay  .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

.overlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
}
/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:. Fin   Overlay  .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio MENU CARRITO .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

.header-menu-add-to-card {
	justify-content: space-between;
	align-items: flex-start;
	width: 500px;
	height: 500px;
	opacity: 0.8;
	position: absolute;
	right: 0;
	top: 68px;
	transition: 2s;
}

.products-add-to-card {
	height: 300px;
	width: 300px;
	overflow-y: scroll;
}

.menu-add-to-card-hidde {
	transform: translateX(500px);
}

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin MENU CARRITO .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio CONFIRMACION DE COMPRA .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

.menu-checkout {
	min-width: 800px;
	position: absolute;
	top: 0px;
	left: 25vw;
	width: 100%;
	background-color: #fff;
	padding: 40px 30px;
	max-width: 500px;
}

.checkout-info {
	width: 100%;
	padding-right: 30px;
}

.checkout-personal-info {
	padding: 20px 20px 40px;
}

.checkout-personal-info-inputs {
	width: 100%;
}
.checkout-payment {
	padding: 20px 20px 40px;
	border-top: 1px solid #e0e0e0;
}

.cart-totals {
	min-width: 300px;
	background: #f5f5f5;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cart-totals-title {
	margin-top: 0;
	margin-bottom: 20px;
}
.cart-discount {
	color: #23b120;
}
.modal-actions {
	margin-top: 40px;
	display: flex;
	justify-content: flex-end;
}

.checkout-is-hidden {
	transform: translateX(1000px);
}
/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin CONFIRMACION DE COMPRA .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/
.is-hidden {
	display: none;
}
.no-scroll {
	overflow: hidden; /* todo lo que escapa a esta tarjeta ocultalo*/
}

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*
                                     DISEÑO RESPONSIVE 
/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:..｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio TABLET   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin TABLET    .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Inicio SMARTPHONE   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/

/*☆☆.｡.:*･ﾟ*:.｡.☆☆.｡.:*･ﾟ*:.   Fin SMARTPHONE   .｡.☆☆.｡.:*･ﾟ*:.｡.☆☆*/
